se.sics.cooja.GUI.PLUGINS = + MoteProgrammerPlugin
se.sics.cooja.GUI.JARFILES = + RXTXcomm.jar moteprogrammer.jar
se.sics.cooja.GUI.MOTETYPES = + RealSerialPortMoteType

# Create mote-unique firmwares before uploading
MoteProgrammerPlugin.PREPARE_FIRMWARES = false

# Command variables:
## $(SERIALPORT) e.g. COM2
## $(PROGPORT) e.g. COM3
## $(FIRMWARE) e.g. hello-world.sky
## $(FIRMWARENOEXTENSION) e.g. hello-world

MoteProgrammerPlugin.CMD_RESET = 
MoteProgrammerPlugin.CMD_ERASE = 
MoteProgrammerPlugin.CMD_PROGRAM = make $(FIRMWARENOEXTENSION).upload FIRMWARE=$(FIRMWARE) PROGPORT=$(PROGPORT) SERIALPORT=$(SERIALPORT)

# Example Makefile %.upload target:
## %.upload: %.ihex
## 	mspdebug tilib --allow-fw-update --force-reset -d $(PROGPORT) "prog $<"
## 	mspdebug tilib --allow-fw-update --force-reset -d $(PROGPORT) "run" & \
## 	echo $$! > $@.$(PROGPORT).lock
## 	sleep 10
## 	kill `cat $@.$(PROGPORT).lock`
## 	-rm $@.$(PROGPORT).lock
